*{
    padding: 0;
    margin: 0;
}
.cell{
    float: left;
}
.popup{
    display: none;
    width: 50%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px ;
    border-radius: 5px;
    background-color: aliceblue;
    
}
.popup.active{
    display: block;
}
.btn-box{
    margin-top: 10px;
}

.btn-box > .btn-clo {
    cursor: pointer;
    
}
.popup-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: none;
}
.popup-bg.active{
    display: block;
}
.imtext{
    position: absolute;
    top: 50%;
    right: 50%;
}
